.cardbind {
    padding-top: 48px;
    .container{
        padding: 0 5%;
    }
    .app-title {
        font-size: 45px;
        font-weight: 600;
        color: @info;
        line-height: 45px;
        margin-bottom: 30px;
    }
    .app-logo > img {
        display: block;
        margin: 0 auto;
        width: 100px;
    }
    .app-desc {
        margin-top: 30px;
        color: rgb(0, 187, 210);
        line-height: 48px;
    }
    .btn-info {
        margin-bottom: 5px;
        font-size: 20px;
        line-height: 48px;
    }
    .app-ver {
        margin-bottom: 10px;
        line-height: 50px;
        color: rgb(209, 209, 209);
    }

    .row{
        margin-top: 10px;

        &.select{
            margin-top: 0;
        }
    }

    .label{
        margin-top: 10px;
        color: #999;
    }

    .target-input{
        display: block;
        outline: none;
        background-color: white;
        padding: 0 10px;
        border: none;
        width: 100%;
        line-height: 20px;
        height: 34px;
    }
    .Select-control{
        width: 100%;
        top: 12px;
    }
}
