.cardbind {
    .container{
        padding: 0 5%;
    }
    .app-title {
        font-size: 45px;
        font-weight: 600;
        color: @info;
        line-height: 45px;
        margin-bottom: 30px;
    }
    .app-logo > img {
        display: block;
        margin: 0 auto;
        width: 100px;
    }
    .app-desc {
        margin-top: 30px;
        color: rgb(0, 187, 210);
        line-height: 48px;
    }
    .btn-info {
        margin-bottom: 5px;
        font-size: 20px;
        line-height: 48px;
    }
    .app-ver {
        margin-bottom: 10px;
        line-height: 50px;
        color: rgb(209, 209, 209);
    }

    .row{
        margin: 10px auto 0 auto;

        &.select{
            margin-top: 0;
        }
    }

    .label{
        color: #999;
    }

    .error{
        color: red;
        font-size: 13px;
        text-align: center;
        margin-top: 10px;
    }

    .target-input{
        display: block;
        outline: none;
        background-color: white;
        padding: 0 10px;
        border: none;
        width: 100%;
        line-height: 20px;
        height: 34px;
    }

    .select .target{
        position: relative;
        padding-top: 10px;
    }

    .select .label{
        line-height: 30px;
        padding-top: 8px;
    }

    .Select-control{
        width: 100%;
        overflow: hidden;
    }

    .btn{
        font-size: 18px;
        line-height: 48px;
        letter-spacing: .2em;
        display: block;
        width: 90%;
        margin: 10px auto;
    }

    .note{
        font-size: 12px;
        display: block;
        text-align: center;
    }
    .row {
        display: table;
        vertical-align: middle;
        .label {
            vertical-align: middle;
            display: table-cell;
            color: rgb(85, 89, 92);
            font-size: 14px;
            width: 200px;
        }
        .target {
            vertical-align: middle;
            display: table-cell;
            width: 70%;
            color: @info;
        }
    }
}
